.spinnerWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.spinnerImg {
  width: 40vw;
  display: block;
  transition: transform 0.1s linear;
}
